scale=0.1

skeleton=cally.xsf

mesh=cally.xmf
#mesh=cally_head.xmf
#mesh=cally_torso.xmf
#mesh=cally_l_arm.xmf
#mesh=cally_r_arm.xmf
#mesh=cally_l_leg.xmf
#mesh=cally_r_leg.xmf

animation=walk.xaf

material=cally_skin.xrf
material=cally_ponytail.xrf
material=cally_chest.xrf
material=cally_pelvis.xrf